body{font-size: 12px;}
ul{list-style: none;}
a,span,p{color:#666666;}
/*顶部*/
.top{float: right;}
li{
	float: left; 
	font-weight: bold; 
	margin-left: 20px; 
	font-size: 13px;
}
.top li a{color: #000000;}
.top #more{
	       background: #3385ff;
           width: 60px;
           height: 18px;
           line-height: 18px;
           font-weight: normal;
           padding-left: 8px;
           display: block;
       }
#sezi,#denglu{font-weight: normal;}
/*中部*/
.content{
	     padding: 100px; 
	     text-align: center;
	 }
.content img{
	         width: 270px;
	         height: 129px;
	     }
.content input{
	           width: 539px; 
	           height: 34px;
	       }
.content button{
	            width: 100px; 
	            height: 40px; 
	            background: #3385ff; 
	            border:none;
	            color: #FFF; 
	            font-size: 15px; 
	            margin-left: -6px;
	        }

/*底部*/
.footer{padding-top: 80px;}
.footer p{
	      text-align: center; 
	      line-height: 20px;
	  }
